.app-container {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.games-container {
    display: inline-block;
    margin-top: 10px;
}

.game-container {
    box-shadow: 5px 5px 5px $black;
    display: table;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    font-size: $game-font;
}

.win {
    background-color: $win-background;
}

.lose {
    background-color: $lose-background;
}

.title {
    font-size: $title-font;
    color: $gold;
    font-weight: $bold-font;
    text-shadow: 2px 2px 5px $black; 
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.error {
    text-shadow: 2px 2px 5px $black;
    font-weight: $bold-font;
    font-size: $header-font;
    color: $gold;
}