.champion-margin {
    margin-top: 4px;
}

.creeps-margin {
    margin-top: 8px;
}

.match-margin {
    margin-top: 4px;
}

.kda-margin {
    margin-top: 10px;
}

.summoner-margin {
    margin-bottom: 3px;
}